body {
  font-family: sans-serif;
  background: url(backgroundBook.jpg);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  display: flex;
  padding: 15px;
  align-content: center;
  justify-content: space-between;
}

.Icons {
  display: flex;
  align-content: center;
}

.poweredText {
  font-style: oblique;
  padding: 5px;
}

.AppName {
  font-family: 'Rockwell';
  color: rgb(3, 12, 97);
}

.searchBar {
  display: flex;
  justify-content: center;
  align-content: center;
}

.searchInput {
  width: 500px;
  height: 25px;
}
.searchForm {
  height: 30px;
  width: 80px;
}

.mag-glass {
  position: relative;
  bottom: -5.5px;
}

.searchByText {
  display: flex;
  justify-content: center;
  align-content: center;
}

.searchResults {
  display: flex;
  margin-left: 40px;
  padding: 20px;
  align-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}
